@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-image: url('tree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    margin: 0;
    overflow: hidden;
}

#square {
    width: 20px;
    aspect-ratio: 1;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-out;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: black;
}

.points {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: fadeIn 0.5s ease-out;
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    max-width: 300px;
    color: white;
}

p {
    font-size: 14px;
}

#start,
#stop {
    border-radius: 50px;
    padding: 9px 12px;
    border: 2px solid darkgray;
    background: #20d726;
}

#stop {
    background: #FF4500;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
